exportPattern("^[[:alpha:]]+")
useDynLib(nnlib2Rcpp)
importFrom(Rcpp, sourceCpp)
importFrom(methods, new)
importFrom("graphics", "points")
importFrom("utils", "capture.output")
importFrom("class", "knn")
